@use "global" as *;
@use "sass:math";

.c-blog__card {
  position: relative;
  width: calc(150 / 430 * 100%);
  @include mq("md") {
    width: auto;
  }
}
.c-blog__card::before {
  content: "カテゴリー";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $darkBlue;
  color: $white;
  font-size: rem(12);
  padding: rem(4) rem(9) rem(7);
}
