@use "global" as *;

.c-request-button-document {
  width: rem(280);
  padding: rem(16) rem(108);
  border-radius: rem(25);
  background-color: $yellow;
  color: $white;
  font-weight: bold;
  font-size: rem(16);
  line-height: calc(27 / 16);
}
