@use "global" as *;

.p-contactForm {
  font-size: rem(16);
  line-height: calc(27 / 16);
  color: $darkBlue;
}
.p-contactForm__text {
}
.p-contactForm__wrap {
  margin-top: rem(41);
}
.p-contactForm__item {
  margin-top: rem(20);
  width: 100%;
}

.p-contactForm__company,
.p-contactForm__name,
.p-contactForm__mail,
.p-contactForm__phone,
.p-contactForm__textarea {
  width: 100%;
  font-size: rem(12);
  line-height: calc(20 / 12);
  padding: rem(19);
  margin-top: rem(12);
}
.p-contactForm__radioWrap {
  margin-top: rem(21);
}
.p-contactForm__radio {
  margin-top: rem(14);
}
.p-contactForm__select {
  margin-top: rem(24);
}
.p-contactForm__radio input {
  transform: scale(1.5);
  margin-right: rem(19);
}
.p-contactForm__textarea {
  height: 20em;
}
.p-contactForm__privacy {
  margin-top: rem(30);
  text-align: center;
}
.p-contactForm__privacy span {
  color: $yellow;
}
.p-contactForm__privacy-text span {
  text-decoration: underline;
}
.p-contactForm__privacy-check {
  margin-top: rem(33);
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-contactForm__privacy-check input {
  width: rem(20);
  height: rem(20);
  margin-right: rem(15);
}

.p-contactForm__button-wrap {
  text-align: center;
}
.p-contactForm__button {
  color: $white;
  background-color: $darkBlue;
  width: rem(200);
  padding-block: rem(16);
  border-radius: 5px;
  margin-top: rem(48);
  margin-bottom: rem(82);
  cursor: pointer;
  font-weight: bold;
}
