@use "global" as *;

.js-drawer-btn {
  @include mq("md") {
    display: block;
    position: relative;
    width: rem(40);
    height: rem(32);
    margin-left: auto;
  }
  display: none;
}

.js-drawer-btn span {
  @include mq("lg") {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $darkBlue;
    transition: all 0.3s linear 0s;
  }
}

.js-drawer-btn span:nth-child(1) {
  @include mq("lg") {
    top: 0;
    border-radius: 10px;
  }
}
.js-drawer-btn span:nth-child(2) {
  @include mq("lg") {
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
  }
}
.js-drawer-btn span:nth-child(3) {
  @include mq("lg") {
    top: 100%;
    transform: translateY(-100%);
    border-radius: 10px;
  }
}

.js-drawer-btn.open span:nth-child(1) {
  @include mq("lg") {
    top: 50%;
    transform: rotate(45deg);
  }
}
.js-drawer-btn.open span:nth-child(2) {
  @include mq("lg") {
    display: none;
  }
}
.js-drawer-btn.open span:nth-child(3) {
  @include mq("lg") {
    top: 50%;
    transform: rotate(-45deg);
  }
}

.js-drawer-nav {
  @include mq("lg") {
    z-index: 2;
    opacity: 0.9;
    position: fixed;
    top: rem(80);
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: $darkBlue;
    transition: right 0.5s;
  }
}

.js-drawer-nav.open {
  @include mq("lg") {
    right: 0;
  }
}
