@use "global" as *;

.l-document {
  margin-top: rem(119);
}

.l-news-document {
  margin-top: rem(46);
}

.l-price-document {
  margin-top: rem(61);
}

.l-blog-document {
  margin-top: rem(45);
}

.l-detail-document {
  margin-top: rem(64);
}

.l-news_detail-document {
  margin-top: rem(53);
}
